.App-header {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: auto; */
    background: linear-gradient(218deg, #03b448, #034483);
    background-size: 800% 800%;
  vertical-align: auto;
    -webkit-animation: AnimationName 15s ease infinite;
    -moz-animation: AnimationName 15s ease infinite;
    -o-animation: AnimationName 15s ease infinite;
    animation: AnimationName 15s ease infinite;
  }