body {
    background-color: #ffffff !important;
    margin: 0;
    overflow: auto !important;
    text-align: -webkit-center;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    cursor: default;

}

.a4-layout {
    height: 100%;
    box-sizing: border-box;
    margin: 10px;
    max-width: 1024px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.headContent {
    background-color: white;
    display: flex;
}

.bodyContent {
    display: flex;
}

.skill-tag {
    color: #2B2B2B;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #666583;
    position: relative;
    appearance: auto;
    margin: 2px
}

.skill-tag:hover {
    color: #666583;
    ;
    background-color: #b9b9b9;
    cursor: default;
}


.leftCard {
    float: left;
    background-color: #2B2B2B;
    width: 30%;
}

.rightCard {
    float: right;
    background-color: #ECECEC;
    width: 70%;
}

.cv-title {
    background-color: #0596D5;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: x-large;
}

.cv-profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.textBold {
    font-weight: bold;
}

.cv-contact {
    background-color: #2B2B2B;

    div {
        font-size: 14px;
        color: #b9b9b9;
        align-items: center;
        padding: 2px;
        display: block;
        text-decoration: none;
        position: relative;
        transition: all .35s;
        word-spacing: 5px;
    }

    div:after {
        position: absolute;
        top: 0;
        left: 0;
        margin-left: -100px;
        width: 0px;
        height: 100%;
        background: #E5E5E5;
    }

    span {
        position: relative;
        z-index: 0;
    }

    span:hover {
        color: #666583;
    }

    div:hover {
        color: #666583;
        z-index: 4;
        cursor: pointer;
        background-color: #b9b9b9;
    }

    a,
    :visited {
        color: #b9b9b9;
        text-decoration: none;
    }

    a:hover {
        color: #666583 !important;
    }
}

.cv-title-left {
    color: #0596D5;
    font-size: 16px;
    text-align: center;
    padding: 5px;
    background-color: #2B2B2B;

    div {
        border-bottom: 1px solid #E5E5E5;
    }

    .cv-title-left {

        border-bottom: 0px solid #E5E5E5;
    }



    a,
    :visited {
        color: #b9b9b9;
        text-decoration: none;
    }

    a:hover {
        color: #666583 !important;
    }

    span {
        color: #b9b9b9;
    }

}


.cv-title-right {
    color: #0596D5;
    font-size: 16px;
    text-align: center;
    padding: 3px;
    border-bottom: 1px solid;

    a,
    :visited {
        color: #b9b9b9;
        text-decoration: none;
    }

    a:hover {
        color: #666583 !important;
    }
}

.sectionTopicLeft {
    font-size: 16px;
    color: #b9b9b9;

    div,
    a {
        border-bottom: none;
        color: #b9b9b9;
        text-decoration: none;
    }

    a:visited {
        color: #b9b9b9;
        text-decoration: none;
    }

    a:hover {
        color: #666583;
    }
}


.sectionTopicRight {
    font-size: 16px;
    color: #2B2B2B;


    div,
    a {
        border-bottom: none;
        color: #2B2B2B;
        text-decoration: none;
    }

    a:visited {
        text-decoration: none;
    }

    a:hover {
        color: #666583;
    }
}

.icon,
.externalIcon,
.copyIcon {
    margin-bottom: -2px;
}


.imgProfile{
    width: 120px;
    padding: 5px;
    border-radius: 100px;
}



@media only screen and (max-width: 767px) {


    .leftCard {
        min-width: 215px;
    }

    .headContent {
        display: grid;

        .leftCard {
            width: 100%;
        }

        .rightCard {
            width: 100%;
            background-color: #0596D5;
        }
    }

    .bodyContent {
        display: grid;
        color: #666583;

        .cv-title-left-text,
        .cv-title-right {
            background-color: #b9b9b9;
        }

        .cv-title-left,
        .cv-title-right {
            padding: 0px;
        }

        div {
            background-color: #ECECEC;
            color: #666583;
            border: none;
        }

        a,
        span,
        a:visited,
        .min-fontsize {
            color: #666583;

        }

        .leftCard {
            color: #666583;
            width: 100%;
        }

        .rightCard {
            color: #666583;
            width: 100%;
        }
    }
}



@media print {
    .headCenter {
        border-top: 100px solid transparent;
    }

    .copyIcon,
    .externalIcon,
    .credits,
    .animate-text,
    .shadowPage {
        visibility: hidden;
    }

    .a4-layout{
        margin: 0px;
    }

}


.credits {
    width: 30%;
    padding: 10px;

    div {
        padding: 5px;
    }
}


.justify-text {
    text-align: justify;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.min-fontsize {
    font-size: 12px;
}