body {
    background-color: #ffffff !important;
    margin: 0;
    padding: 0;

}

.background-decoration {
    background-color: #1A1A1A;
    border-top: 200px solid #FACE49;
    border-left: 175px solid transparent;
    border-right: 0px solid transparent;
    height: 0;
    width: 280px;
    border-radius: 0px 15px 0px 0px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-text {
    color: #fff;
    padding: 20px;
}

.background-page {
    margin: 20px;
    padding: 20px;
    background-color: #1A1A1A;
    border-radius: 15px;
    height: 100%;
}

.a4-layout {
    width: 210mm;
    height: 297mm;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #000;
    box-sizing: border-box;

    @media only screen and (max-width: 210mm) {
        width: 100%;
    }
}

.headContainer {
    display: flex;
    justify-content: space-between;

}

.headContainer>div {
    width: 100%;
    padding: 50px;

    @media only screen and (max-width: 220mm) {
        padding: 20px;
        margin: 0px;
    }
}

.contact {
    font-size: 13px;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

.headName {
    font-size: 20px;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

.center {
    text-align: -webkit-center;
}

.headLeft {
    background-color: #1A1A1A;
    color: #FACE49;
}

.headRight {
    border-radius: 0px 5px 0px 0px;
    background-color: #FACE49;
}

.bodyContainer {
    background-color: #1A1A1A;
    height: 100%;
}